apiVersion: v1
kind: Namespace
metadata:
  name: traefik
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: traefik
      version: '>=30.0.0'
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
  targetNamespace: traefik
  install:
    createNamespace: true
  values:
    ports:
      web:
        port: 80
        exposedPort: 80
        nodePort: 30080
      websecure:
        port: 443
        exposedPort: 443
        nodePort: 30443
    service:
      type: NodePort
    ingressRoute:
      dashboard:
        enabled: true
